autom4te.cache
config.h.in~
.*.swp
/.project
/.cproject
/.classpath
/.settings
/.autotools
src/main/gnu/.autotools
src/main/gnu/.cproject
src/main/gnu/.project
src/main/gnu/.settings
.DS_Store
/target
Makefile
config.log
config.status
libtool
src/main/gnu/mk/Makefile.dependencies
src/main/gnu/mk/Makefile.global
src/main/gnu/pom*.xml
src/main/gnu/Makefile
src/main/gnu/io/Makefile
src/main/gnu/io/humble/Makefile
src/main/gnu/io/humble/ferry/Makefile
src/main/gnu/io/humble/ferry/config.h
src/main/gnu/io/humble/ferry/stamp-h1
src/test/gnu/Makefile
src/test/gnu/io/Makefile
src/test/gnu/io/humble/Makefile
src/test/gnu/io/humble/ferry/Makefile
src/test/gnu/io/humble/ferry/humble-ferry-main
src/test/gnu/io/humble/testutils/Makefile
.libs/
*.lo
*.o
*.la
*_CXXRunner.cpp
/io.humble.*
