autom4te.cache
config.h.in~
.*.swp
/.project
/.cproject
/.classpath
/.settings
.DS_Store
/target
Makefile
config.log
config.status
libtool
mk/Makefile.dependencies
mk/Makefile.global
pom-x86_64-apple-darwin12.4.0.xml
src/main/gnu/Makefile
src/main/gnu/io/Makefile
src/main/gnu/io/humble/Makefile
src/main/gnu/io/humble/ferry/Makefile
src/main/gnu/io/humble/ferry/config.h
src/main/gnu/io/humble/ferry/stamp-h1
src/test/gnu/Makefile
src/test/gnu/io/Makefile
src/test/gnu/io/humble/Makefile
src/test/gnu/io/humble/ferry/Makefile
src/test/gnu/io/humble/testutils/Makefile
/share
.libs/
*.lo
*.o
*.la
*_CXXRunner.cpp
humble-ferry-main
